.content {
  position: relative;
  z-index: 3;
  background-color: #041015;
}

.content .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 200px;
}

.content::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 150px;
  -webkit-transform: translate(0, -100%);
  -ms-transform: translate(0, -100%);
  transform: translate(0, -100%);
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(7, 20, 27, 0)), color-stop(50%, #041015));
  background: -o-linear-gradient(top, rgba(7, 20, 27, 0) 0%, #041015 50%);
  background: linear-gradient(180deg, rgba(7, 20, 27, 0) 0%, #041015 50%);
  pointer-events: none;
}

.started,
.hiking,
.key {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 114px;
}

.started__content,
.hiking__content,
.key__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 24px;
}

.started__content .label,
.hiking__content .label,
.key__content .label {
  position: relative;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 6px;
  color: #FBD784;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.started__content .label::before,
.hiking__content .label::before,
.key__content .label::before {
  content: "";
  height: 1px;
  background-color: #FBD784;
  width: 90px;
  margin-right: 30px;
}

.started__content .label::after,
.hiking__content .label::after,
.key__content .label::after {
  content: "";
  color: rgba(255, 255, 255, 0.07);
  position: absolute;
  left: 0;
  top: -40px;
  font-size: 90px;
  font-weight: bold;
}

.started__content .title,
.hiking__content .title,
.key__content .title {
  font-size: 68px;
  line-height: 64px;
  color: #FFF;
}

.started__content .description,
.hiking__content .description,
.key__content .description {
  font-weight: 700;
  font-size: 18px;
  line-height: 32px;
}

.started__content .link,
.hiking__content .link,
.key__content .link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #FBD784;
  font-size: 18px;
  line-height: 22px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  cursor: pointer;
  text-decoration: none;
}

.started__content .link::after,
.hiking__content .link::after,
.key__content .link::after {
  content: url(../assets/images/arrow.svg);
  padding-left: 16px;
}

.started__content .link:hover,
.hiking__content .link:hover,
.key__content .link:hover {
  -webkit-transform: translateX(12px);
  -ms-transform: translateX(12px);
  transform: translateX(12px);
}

.started div img,
.hiking div img,
.key div img {
  border-radius: 12px;
}

.started .label::after {
  content: "01";
}

.hiking .label::after {
  content: "02";
}

.key .label::after {
  content: "03";
}

footer {
  position: relative;
  background-color: #041015;
}

footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

footer .container .mntn {
  -webkit-box-flex: 5;
  -ms-flex-positive: 5;
  flex-grow: 5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

footer .container .mntn .logo {
  font-size: 38px;
  font-weight: bold;
  margin-bottom: 24px;
  color: #FBD784;
  cursor: pointer;
}

footer .container .mntn .direction {
  font-weight: 700;
  font-size: 18px;
  line-height: 32px;
}

footer .container .more-blog,
footer .container .more-mntn {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

footer .container .more-blog .title,
footer .container .more-mntn .title {
  color: #FBD784;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 24px;
}

footer .container .more-blog ul,
footer .container .more-mntn ul {
  gap: 16px;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

footer .container .more-blog ul li,
footer .container .more-mntn ul li {
  font-weight: 500;
  font-size: 18px;
  line-height: 32px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

footer .container .more-blog ul li a,
footer .container .more-mntn ul li a {
  text-decoration: none;
  color: #fff;
}

footer .container .more-blog ul li:hover,
footer .container .more-mntn ul li:hover {
  -webkit-transform: scale(1.025);
  -ms-transform: scale(1.025);
  transform: scale(1.025);
}

footer .container + .container {
  padding: 10px 20px;
  font-weight: 500;
  font-size: 18px;
  line-height: 32px;
  color: rgba(255, 255, 255, 0.5);
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  left: 0;
  right: 0;
  margin-bottom: 60px;
  z-index: 3;
}

.header .logo {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 8px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.header .logo span {
  font-size: 24px;
  font-style: italic;
  font-family: "Patrick Hand", cursive;
  color: #ecbc4c;
}

.header .logo:hover {
  -webkit-transform: scale(1.025);
  -ms-transform: scale(1.025);
  transform: scale(1.025);
}

.header .navigation-wrapper {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
}

.header .navigation-wrapper .navigation-item {
  cursor: pointer;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.header .navigation-wrapper .navigation-item:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}

.header .navigation-wrapper .navigation-item a {
  text-decoration: none;
  color: #fff;
}

.header .navigation-wrapper .navigation-item a:hover {
  color: #FBD784;
}

.header .login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 20px;
  color: #fff;
  text-decoration: none;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.header .login:hover {
  -webkit-transform: scale(1.025);
  -ms-transform: scale(1.025);
  transform: scale(1.025);
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background-color: #354147;
  color: #fff;
}

.container {
  max-width: 1240px;
  margin: 0 auto;
  padding: 50px 20px;
}

.parallax {
  min-height: 110vh;
}

.parallax__body {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.parallax__container {
  position: relative;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  height: 100%;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.parallax__container .hero__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 32px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: justify;
  -ms-flex-align: justify;
  align-items: justify;
}

.parallax__container .hero__wrapper .parallax__label {
  text-transform: uppercase;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 6px;
  color: #FBD784;
  text-shadow: 0px 2px 20px rgba(251, 215, 132, 0.7);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.parallax__container .hero__wrapper .parallax__label::before {
  content: "";
  height: 1px;
  background-color: #FBD784;
  width: 70px;
  margin-right: 30px;
}

.parallax__container .hero__wrapper .parallax__title {
  font-family: "Patrick Hand", cursive;
  text-shadow: 0px 2px 20px rgba(255, 255, 255, 0.7);
  font-style: italic;
  font-size: 76px;
  width: 37%;
  line-height: 1.4;
  color: #f3f3f3;
}

.parallax__images {
  position: absolute;
  width: 120%;
  height: 120%;
  top: -10%;
  left: -10%;
  z-index: 1;
}

.parallax .images-parallax__item {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.parallax .images-parallax__mountain,
.parallax .images-parallax__human,
.parallax .images-parallax__overlay {
  position: absolute;
  width: 100%;
  height: 100%;
}

.parallax .images-parallax__mountain {
  background: url("../assets/images/background.png") center/cover no-repeat;
  top: 0;
  z-index: 2;
}

.parallax .images-parallax__human {
  background: url("../assets/images/human.png") center/cover no-repeat;
  top: 0%;
  left: 15%;
  z-index: 2;
}

.parallax .images-parallax__overlay {
  background-color: rgba(11, 29, 38, 0.6);
  z-index: 3;
}

@supports (-webkit-appearance:none) {
  .parallax .images-parallax__mountain {
    background: url("../assets/images/background.webp") center/cover no-repeat;
  }

  .parallax .images-parallax__human {
    background: url("../assets/images/human.webp") center/cover no-repeat;
  }
}

@media (max-width: 1200px) {
  .started div img,
  .hiking div img,
  .key div img {
    width: 450px;
  }

@supports (-webkit-appearance:none) {

}
}

@media (max-width: 930px) {
  .started div img,
  .hiking div img,
  .key div img {
    width: 350px;
  }

@supports (-webkit-appearance:none) {

}
}

@media (max-width: 768px) {
  footer .container {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    gap: 48px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .header .navigation-wrapper {
    display: none;
  }

  .parallax__container .hero__wrapper .parallax__title {
    font-size: 44px;
    width: 100%;
  }

@supports (-webkit-appearance:none) {

}
}

@media (max-width: 765px) {
  .started,
  .hiking,
  .key {
    -ms-flex-wrap: wrap-reverse;
    flex-wrap: wrap-reverse;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .started:nth-child(odd),
  .hiking:nth-child(odd),
  .key:nth-child(odd) {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

@supports (-webkit-appearance:none) {

}
}