<div class="tabs">
    <div class="tabs__header">
        <div class="tabs__header-item active" data-tab="1">Blogs</div>
        <div class="tabs__header-item" data-tab="2">E-commerce</div>
        <div class="tabs__header-item" data-tab="3">Educational platform</div>
        <div class="tabs__header-item" data-tab="4">Social networks</div>
    </div>
    <div class="tabs__content">
        <div class="tabs__content-item active" data-tab="1">
           123
        </div>
        <div class="tabs__content-item" data-tab="2">
            234
        </div>
        <div class="tabs__content-item" data-tab="3">
           456
        </div>
        <div class="tabs__content-item" data-tab="4">
            789
        </div>
    </div>
</div>