<nav class="navbar">
        <div class="logo">
            <a class="link" href="#">
                <picture>
                    <source srcset="./assets/images/logo.svg" type="image/webp">
                    <img src="./assets/images/logo.svg" alt="logo"></picture>
            </a>
        </div>
        <div class="menu">
            <ul class="menu__list">
                <li class="menu__list-item">
                    <a class="link" href="#about">About</a>
                </li>
                <li class="menu__list-item">
                    <a class="link" href="#projects">Projects</a>
                </li>
                <li class="menu__list-item">
                    <a class="link" href="#reviews">Reviews</a>
                </li>
                <li class="menu__list-item">
                    <a class="link" href="#footer">Contacts</a>
                </li>
            </ul>
        </div>
        <div class="burger">
            <div class="bar1"></div>
            <div class="bar2"></div>
            <div class="bar3"></div>
        </div>
</nav>