<ul class="accordion">
    <li class="accordion__item ">
        <div class="accordion__item-trigger">
            <div class="accordion__item-trigger-icon">(>>)</div>
            <div class="accordion__item-trigger-text">Lorem repudiandae ne nec?</div>
        </div>
        <div class="accordion__item-content">
            <div class="accordion__item-content-text">Quidam vocibus eum ne, erat consectetuer voluptatibus ut
                nam. Eu usu vidit tractatos, vero tractatos ius an, in mel diceret persecuti.1
            </div>
            <div class="accordion__item-content-btn">
                <a href="" class="btn btn--grey">Go to documentation</a>
            </div>
        </div>
    </li>
    <li class="accordion__item ">
        <div class="accordion__item-trigger">
            <div class="accordion__item-trigger-icon">(>>)</div>
            <div class="accordion__item-trigger-text">Lorem repudiandae ne nec?</div>
        </div>
        <div class="accordion__item-content">
            <div class="accordion__item-content-text">Quidam vocibus eum ne, erat consectetuer voluptatibus ut
                nam. Eu usu vidit tractatos, vero tractatos ius an, in mel diceret persecuti.1
            </div>
            <div class="accordion__item-content-btn">
                <a href="" class="btn btn--grey">Go to documentation</a>
            </div>
        </div>
    </li>
</ul>