$color-success: #28a745;
$color-info: #17a2b8;
$color-warning: #ffc107;
$color-danger: #e23434;

$theme-dark: #303846;
$theme-light: #f7f7f7;
$theme-primary: #09d3ac;
$theme-secondary: #2196f3;

$minWidth:1320;
$mv:1240;
$md1:$mv + 12;
$md2:991.98;
$md3:767.98;
$md4:479.98;


