.content{
    position: relative;
    z-index: 3;
    background-color: #041015;
    .container{
      display: flex;
      flex-direction: column;
      gap: 200px;
    }
    &::before{
      content:'';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 150px;
      transform:translate(0,-100%);
      background: linear-gradient(180deg, rgba(7, 20, 27, 0) 0%, #041015 50%);
      pointer-events: none;
    }
}

.started,.hiking,.key{
    display: flex;
    gap: 114px;
    @media (max-width:765px) {
        flex-wrap: wrap-reverse;
        align-items: center;
        justify-content: center;
        &:nth-child(odd){
            flex-wrap: wrap;
        }
    }
    &__content{
        display: flex;
        flex-direction: column;
        gap: 24px;
        .label{
            position: relative;
            text-transform: uppercase;
            font-size: 18px;
            line-height: 22px;
            letter-spacing: 6px;
            color: #FBD784;
            display: flex;
            align-items: center;
            &::before{
              content: "";
              height: 1px;
              background-color: #FBD784;
              width: 90px;
              margin-right: 30px;
            }
            &::after{
                content: "";
                color:rgba(#fff,.07);
                position: absolute;
                left: 0;
                top:-40px;
                font-size: 90px;
                font-weight: bold;
            }
        }
        .title{
            font-size: 68px;
            line-height: 64px;
            color: #FFF;
        }
        .description{
            font-weight: 700;
            font-size: 18px;
            line-height: 32px;
        }
        .link{
            display: flex;
            color: #FBD784;
            font-size: 18px;
            line-height: 22px;
            transition:.5s;
            cursor: pointer;
            text-decoration: none;
            &::after{
                content: url(../assets/images/arrow.svg);
                padding-left: 16px;
            }
            &:hover{
                transform:translateX(12px)
            }
        }
    }
    div{
        img{
            border-radius:12px;
        }
        @media (max-width:1200px) {
            img {
                width: 450px;
            }   
        }
        @media (max-width:930px) {
            img {
                width: 350px;
            }   
        }
    }
}

.started{
    .label{
        &::after{
            content: "01";
        }
    }
}
.hiking{
    .label{
        &::after{
            content: "02";
        }
    }
}
.key{
    .label{
        &::after{
            content: "03";
        }
    }
}