footer{
    position: relative;
    background-color: #041015;
    .container{
        display: flex;
        align-items: flex-start;
        @media(max-width:768px){
            flex-wrap: wrap;
            gap: 48px;
            justify-content: center;
        }
        .mntn{
            flex-grow: 5;
            display: flex;
            flex-direction: column;
            .logo{
                font-size: 38px;
                font-weight: bold;
                margin-bottom: 24px;
                color:#FBD784;
                cursor: pointer;
            }
            .direction{
                font-weight: 700;
                font-size: 18px;
                line-height: 32px;
            }

        }
        .more-blog,.more-mntn{
            flex-grow: 1;
            .title{
                color:#FBD784;
                font-weight: 700;
                font-size: 24px;
                line-height: 32px;
                margin-bottom: 24px;
            }
            ul{
                gap: 16px;
                list-style: none;
                display: flex;
                flex-direction: column;
                li{
                    font-weight: 500;
                    font-size: 18px;
                    line-height: 32px;
                    transition: .3s;
                    a{
                        text-decoration: none;
                        color:#fff;
                    }
                    &:hover{
                        transform:scale(1.025)
                    }
                }
            }
        }
    }
}

footer{
    .container+.container{
        padding: 10px 20px;
        font-weight: 500;
        font-size: 18px;
        line-height: 32px;
        color:rgba(#fff,.5);
    }
}
