@import './_mixin.scss';
@import './_variables.scss';

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: #354147;
  color: #fff;
}
.container{
  max-width: 1240px;
  margin: 0 auto;
  padding: 50px 20px;
}
.parallax{
  min-height: 110vh;
  &__body{
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
  }

  &__container{
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    .hero__wrapper{
      //margin-top: 200px;
      display: flex;
      gap: 32px;
      flex-direction: column;
      justify-content: center;
      align-items: justify;
      .parallax__label{
        text-transform: uppercase;
        font-size: 18px;
        line-height: 22px;
        letter-spacing: 6px;
        color: #FBD784;
        text-shadow: 0px 2px 20px rgba(#FBD784,0.7);
        display: flex;
        align-items: center;
        &::before{
          content: "";
          height: 1px;
          background-color: #FBD784;
          width: 70px;
          margin-right: 30px;
        }
      }
      .parallax__title{
        font-family: 'Patrick Hand', cursive;
        text-shadow: 0px 2px 20px rgba(255,255,255,0.7);
        font-style: italic;
        font-size: 76px;
        width: 37%;
        line-height: 1.4;
        color:#f3f3f3;
        @media (max-width:768px) {
          font-size: 44px;
          width: 100%;
        }
      }
    }
  }

  &__images{
    position: absolute;
    width: 120%;
    height: 120%;
    top: -10%;
    left: -10%;
    z-index: 1;
  }
  .images-parallax__item{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
  .images-parallax__mount,
  .images-parallax__human,
  .images-parallax__overlay{
    position: absolute;
    width: 100%;
    height: 100%;
  }
  .images-parallax__mount{
    background:url('../assets/images/background.png') center / cover  no-repeat;
    top: 0;
    z-index: 2;
  }
  .images-parallax__human{
    background:url('../assets/images/human.png') center / cover  no-repeat;
    top: 0%;
    left: 15%;
    z-index: 2;
  }
  .images-parallax__overlay{
    background-color: rgba(#0B1D26,.6);
    z-index: 3;
  }
}

.content{
  position: relative;
  z-index: 3;
  background-color: #041015;
  .container{
    display: flex;
    flex-direction: column;
    gap: 200px;
  }
  &::before{
    content:'';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 150px;
    transform:translate(0,-100%);
    background: linear-gradient(180deg, rgba(7, 20, 27, 0) 0%, #041015 50%);
    pointer-events: none;
  }
}

.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  left: 0;
  right: 0;
  margin-bottom: 60px;
  z-index: 3;
  .logo{
    font-size: 36px;
    font-weight: bold;
  }
  ul{
    list-style: none;
    display: flex;
    gap: 40px;
    @media (max-width:768px) {
      display:none;
    }
    li{
      cursor: pointer;
      transition:.5s;
      &:hover{ 
        transform:scale(1.1)
      }
    }
  }
  .login{
    display: flex;
    align-items: center;
    gap: 20px;
  }
}