<div class="modal__wrapper">
    <div class="modal">
        <div class="modal__close"><img width="25" height="25" src="./assets/images/close.svg" alt=""></div>
        <div class="modal__title">Contact me:</div>
        <div class="modal__body form">
            <input placeholder="name" type="text" class="form__input">
            <input placeholder="phone" type="tel" class="form__input">
            <textarea class="form__textarea" placeholder="message"></textarea>
            <button class="form__btn link">Discuss the project</button>
        </div>
    </div>
</div>